rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /batches/{batchId} {
      allow read: if isSignedIn();
      allow create, update: if isSignedIn();
      allow delete: if false; // Protect against accidental deletion
    }

    match /counters/{docId} {
      allow read, write: if isSignedIn(); // Needed for batch counter
    }

    match /sizes/{id} {
      allow read, write: if isSignedIn();
    }

    match /suppliers/{id} {
      allow read, write: if isSignedIn();
    }

    match /varieties/{id} {
      allow read, write: if isSignedIn();
    }

    match /locations/{id} {
      allow read, write: if isSignedIn();
    }
  }
}
